<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl mb-20">Let's us know where to fund your business!</h1>

  <%= render "form", funding: @funding %>

 
</div>
<%= render 'shared/step_5' %>