<div class="mx-auto w-full">
  <h1 class="font-bold text-4xl flex justify-center">99% Approval ratio</h1>

  <%= render "form", basic_verification: @basic_verification %>
  <%= render 'shared/step_2' %>
</div>
