<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing business verification</h1>

  <%= render "form", business_verification: @business_verification %>

  <%= link_to "Show this business verification", @business_verification, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to business verifications", business_verifications_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
